<header>
  <nav>
    <ul class="flex flex-auto bg-gray-400 py-2 items-end" >
      <li><a class="px-1 text-3xl underline hover:text-blue-800" routerLink="/home">David Wright</a></li>
      <li><a class="px-1 underline items-end hover:text-blue-800" routerLink="/home">Home</a></li>
      <li><a class="px-1 underline hover:text-blue-800" routerLink="/about">About Me</a></li>
      <li><a class="px-1 underline hover:text-blue-800" routerLink="/projects">Projects</a></li>
    </ul>
  </nav>
</header>
