<div>
  <div class="flex bg-black">
    <div class="hidden sm:flex sm:basis-2/12">
      <app-left-bar class="w-full bg-teal-50"></app-left-bar>
    </div>
    <!--  Homepage Content Here  -->
    <div class="px-2 w-full sm:w-8/12 bg-teal-50">
      <div class="rounded m-2">
        <h1 class="text-2xl py-2">Background</h1>
        <div class="rounded p-2">
          <p>
            Hello, and welcome to my blog! My name is David Wright, and I am a software engineer who enjoys UX and building things.
          </p>
          <p>
            When I'm not working on software projects, you can often find me outdoors. I'm an avid cyclist and love exploring new routes on my bike whether that be through the city or through the fields while racing cyclocross. One of my biggest goals is to one day climb Denali, and I'm currently training to make that dream a reality.
          </p>
          <p>
            I also enjoy playing chess and learning languages in my spare time. I don't play as much as I'd like, but I'm addicted to Chess puzzles having completed over 2,000 so far. You can challenge me username "bloodisblue" on chess.com.
          </p>
          <p>
            Through this blog, I hope to share my experiences, insights, and my adventures in the great outdoors. Thanks for stopping by!
          </p>
        </div>
      </div>
      <div class="rounded m-2">
        <h1 class="text-2xl py-2">My Favorite Books</h1>
        <div class="rounded p-2">
          <ul>
            <li><a class="a" routerLink="/books/the-effective-executive">The Effective Executive</a></li>
            <li><a class="a" routerLink="/books/poor-charlies-almanack">Poor Charlie's Almanack</a></li>
            <li><a class="a" routerLink="/books/words-that-work">Words That Work</a></li>
            <li><a class="a" routerLink="/books/mythical-man-month">The Mythical Man-Month</a></li>
            <li><a class="a" routerLink="/books/high-output-management">High Output Management</a></li>
            <li><a class="a" routerLink="/books/design-of-everyday-things">The Design of Everyday Things</a></li>
            <li><a class="a" routerLink="/books/senlin-ascends">Senlin Ascends</a></li>
            <li><a class="a" routerLink="/books/the-climb-froome">The Climb: The Autobiography (Chris Froome)</a></li>
            <li><a class="a" routerLink="/books/learned-optimism">Learned Optimism</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="hidden sm:flex sm:basis-2/12">
      <app-right-bar class="w-full"></app-right-bar>
    </div>
  </div>
</div>
