<div class="rounded">
  <div class="rounded px-2">
    <h2 class="text-xl font-bold">About Me</h2>
    <p>Hello! I'm David Wright, I'm a software engineer who loves learning and building things. I've been full stack focused in a variety of languages with my favorite projects being a real time inventory streaming application built with <a class="a" href="https://flink.apache.org/">Apache Flink</a> and an interactive store layout planning tool built in vanilla Javascript.</p>
    <p>In mid 2023 I made the decision to take some time off work to travel the world with my significant other. So far its been a terrific experience and I've had time to do deep dives into topics that I've been curious about but have never had the mental energy to dig into after a normal work day. I'll keep this blog updated with my travels and any recommendations I have for others who might wish to do something similar.</p>
    <p>In the future I'd like to work on projects where the target audience is a large population. The problems I've worked on professionally have been large scale, but the target audiences have always been a known number of corporate users. I'd be excited to work on something which is used by millions of people, especially if its a product which can be improved by interacting directly with users.</p>
    <h2 class="text-xl font-bold pt-1">Traveling</h2>
    <p>I'm taking some time off work to travel. Currently have trips to Japan, South Korea, and Taiwan booked and am extremely excited!</p>
    <p>Later this summer will hopefully be heading to Pittsburg, Alaska (Denali area), Banff, LA, and SF.</p>
    <h2 class="text-xl font-bold pt-1">Learning</h2>
    <p>Right now there are 3 things I'm actively working towards learning.</p>
    <ul class="list-disc pl-6">
      <li>Coding: How to build something from scratch</li>
      <li><a class="a" routerLink="/book/kelly-criterion">Book: Kelly Capital Growth Investment Criterion</a> </li>
      <li>Korean: Finish reading Harry Potter series in Korean</li>
    </ul>
    <h2 class="text-xl font-bold pt-1">Startups</h2>
    <p>I have an idea for solving a problem that has been frustrating me a bit. While off work I'll be taking some time to try to solve it with the goal of trying to get a company to hire me to work on it further if it seems like it'll be a success. I have very little interest in trying to raise funding for this idea as the relationships needed to make it work as a standalone would take years to form.</p>
    <h2 class="text-xl font-bold pt-1">Fitness</h2>
    <p>I've been really enjoying the temporarily unemployed life. Having the days to bike or hike really means that I get to exercise whenever is most convenient. As an ex-collegiate rower and beginner competitive <a class="a" href="https://www.georgiacx.com/">cyclocross</a> racer, fitness is a pretty big part of my life. Though you're unlikely to find me at a weight room.</p>
    <h2 class="text-xl font-bold pt-1">Things I've Been Enjoying</h2>
    <p>Random collection of things that I've probably been liking too much.</p>
    <ul class="list-disc pl-6 pb-1">
      <li><a class="a" href="https://en.wikipedia.org/wiki/Pho">Phở</a> </li>
      <li><a class="a" href="https://www.youtube.com/channel/UCXF6DMVLIVRr2OQAqyfEGeg">Fred Again</a></li>
      <li><a class="a" href="https://www.apple.com/shop/buy-mac/macbook-pro">M2 Macbook</a></li>
      <li><a class="a" href="https://clojure.org/">Clojure</a></li>
    </ul>
    <h2 class="text-xl font-bold pt-2">My Favorite Books</h2>
      <ul class="list-disc pl-6 pb-1">
        <li><a class="a" routerLink="/books/the-effective-executive">The Effective Executive</a></li>
        <li><a class="a" routerLink="/books/poor-charlies-almanack">Poor Charlie's Almanack</a></li>
        <li><a class="a" routerLink="/books/words-that-work">Words That Work</a></li>
        <li><a class="a" routerLink="/books/mythical-man-month">The Mythical Man-Month</a></li>
        <li><a class="a" routerLink="/books/high-output-management">High Output Management</a></li>
        <li><a class="a" routerLink="/books/design-of-everyday-things">The Design of Everyday Things</a></li>
        <li><a class="a" routerLink="/books/senlin-ascends">Senlin Ascends</a></li>
        <li><a class="a" routerLink="/books/the-climb-froome">The Climb: The Autobiography (Chris Froome)</a></li>
        <li><a class="a" routerLink="/books/learned-optimism">Learned Optimism</a></li>
      </ul>
  </div>
</div>
