<div class="rounded m-2">
  <h1 class="text-2xl py-2">What I'm Excited About Right Now</h1>
  <div class="rounded p-2">
    <p>Traveling! I'm taking some time off work to travel and plan on visiting several countries and a good portion of the US.</p>
    <p>Outside of travelling I'm also planning on continuing to code and sorta delve into whatever topic feels the most interesting. Right now I'm curious about setting up terraform to handle multiple deployments on a single machine (or AWS instance) but also would like to finish the billiards game I started.</p>
  </div>
</div>
<div class="rounded m-2">
  <h1 class="text-2xl py-2">Goal's For The Blog</h1>
  <div class="rounded p-2">
    <p>As of right now I'm still unsure what I want to focus on. Is this blog something that I want people to visit to learn a topic (something I do with confluence pages) or is it somewhere that I'd like to demonstrate my work for future employers. Its very unclear at this point, but I'll try to fill out the content and see what fits best.</p>
  </div>
</div>
<div class="rounded m-2">
  <h1 class="text-2xl py-2">Things I've Been Enjoying Recently</h1>
  <div class="rounded p-2">
    <ul>
      <li><a class="a" href="https://en.wikipedia.org/wiki/Pho">Phở</a> </li>
      <li><a class="a" href="https://www.youtube.com/channel/UCXF6DMVLIVRr2OQAqyfEGeg">Fred Again</a></li>
      <li><a class="a" href="https://www.apple.com/shop/buy-mac/macbook-pro">M2 Macbook</a></li>
      <li><a class="a" href="https://clojure.org/">Clojure</a></li>
    </ul>
  </div>
</div>
