<div class="flex flex-col space-y-4 items-center">
  <div class="text-3xl">{{type | titlecase}} Posts</div>
  <div class="flex flex-col space-y-2">
    <div *ngFor="let p of posts" class="w-full">
      <a class="a text-lg" routerLink="/post/{{p.url}}">{{p.title}}</a>
      <div class="ml-4">
        <div>{{p.summary}}</div>
        <div class="italic">{{p.created_at | date}}</div>
      </div>
    </div>
  </div>
  <div>
    <div class="flex flex-auto space-x-2">
      <button class="btn btn-blue disabled" [disabled]="page <= 0" (click)="previousPage()">Previous</button>
      <button class="btn btn-blue disabled" [disabled]="!hasNextPage" (click)="nextPage()">Next</button>
    </div>
  </div>
</div>
