<aside id="default-sidebar" class="h-screen">
  <div class="h-full bg-gray-50">
    <div class="flex flex-col px-2">
      <div class="py-2">
        <h1 class="text-xl"><a class="home-link" routerLink="/projects">Recent Projects</a></h1>
        <ul>
          <li class="py-1"><a class="a">Billiards</a></li>
          <li class="py-1"><a class="a">Microservice Navigator</a></li>
          <li class="py-1"><a class="a">Coffee Shop</a></li>
        </ul>
      </div>
      <div class="py-2">
        <h1 class="text-xl"><a class="home-link" routerLink="/blog">Recent Blog Posts</a></h1>
        <ul>
          <li class="py-1"><a class="a">Writing a blog</a></li>
          <li class="py-1"><a class="a">How to</a></li>
          <li class="py-1"><a class="a">Shop</a></li>
        </ul>
      </div>
    </div>
  </div>
</aside>
