<aside id="default-sidebar" class="h-screen">
<!--  <div class="h-full">-->
<!--    <div class="flex flex-col px-2">-->
<!--      <h2 class="text-xl pt-2">Links</h2>-->
<!--      <ul class="py-1">-->
<!--        <li><a class="a py-2" routerLink="/home">Home</a></li>-->
<!--        <li><a class="a py-2" routerLink="/about">About Me</a></li>-->
<!--        <li><a class="a py-2" routerLink="/projects">Projects</a></li>-->
<!--        <li><a class="a py-2" routerLink="/blog">Blog Posts</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
</aside>
